.footer {
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
  background: #0f7531;
  color: white;
  bottom: 0;
  width: 100%;
}

  .links {
    margin: 1rem 0;
    button {
      margin: 0 0.5rem;
    }
  }

  button {
    //color: #fd0001;
    border-radius: 20px;
    background-color: #d8fbc4;
    border: 2px dashed #0f7531;
    //#0f7531
    //#d8fbc4 vert clair
}

button:hover {
    background-color: #0f7531;
    border: 2px dashed #d8fbc4;
}

