.image-container {
  position: relative;
  //gap: 100px;
}

.image-card {
  margin: 12px;
  gap: 20px; //Espacement entre les elements-enfants
  width: 46%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

@media (max-width: 768px) {
  .image-card {
    width: 100%; /* Pleine largeur sur petit écran */
  }
}

.card-image {
  opacity: 0.8;
  transition: opacity 0.3s ease;
  width: 100%;
  border: solid 0.5px;
}


/*
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}

.custom-dialog-container .mat-mdc-dialog-container {
  background: rgba(255, 255, 255, 0.8); /* blanc translucide 
  box-shadow: none; /* optionnel 
  backdrop-filter: blur(5px); /* effet verre dépoli 
}

/*
.custom-dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.3) !important; /* 30% d’opacité 
}
*/