.call-floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 60px;
    height: 60px;

    background: linear-gradient(135deg, #d8fbc4,#0f7531);
    color: white;

    border: #ffffff solid ;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);

    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: pulse 2s infinite ease-in-out;
    transition: transform 0.2s, box-shadow 0.2s;
}

.call-floating-btn:hover {
    transform: scale(1.15);
    box-shadow: 0 12px 26px rgba(0,0,0,0.35);
}

@keyframes pulse {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.07); }
    100% { transform: scale(1); }
}

