<!--
<mat-card class="image-card" (click)="toggleReveal(revealed)">
  <div class="image-container">
    <img mat-card-image src="assets/images/no_pigeons.png" alt="Image" class="card-image" />
    <div class="overlay-text" *ngIf="revealed">
      <p>Voici le texte révélé après le clic !<br/>
    Voici le texte révélé après le clic !<br/>
    Voici le texte révélé après le clic !<br/>
    Voici le texte révélé après le clic !<br/>
    Voici le texte révélé après le clic !<br/>
    Voici le texte révélé après le clic !<br/>
    Voici le texte révélé après le clic !<br/>
    Voici le texte révélé après le clic !<br/>
    
    </p>
    </div>
  </div>
  <mat-card-content>
    <p>Cliquez sur la carte pour révéler le texte.</p>
  </mat-card-content>
</mat-card>

<mat-card class="image-card" (click)="toggleReveal2()">
  <div class="image-container">
    <img mat-card-image src="assets/images/no_rats.png" alt="Image" class="card-image" />
    <div class="overlay-text" *ngIf="revealed2">
      <p>Voici le texte révélé après le clic !<br/></p>
    </div>
  </div>
  <mat-card-content>
    <p>Cliquez sur la carte pour révéler le texte.</p>
  </mat-card-content>
</mat-card>

<mat-card class="image-card" (click)="toggleReveal3()">
  <div class="image-container">
    <img mat-card-image src="assets/images/no_bugs.png" alt="Image" class="card-image" />
    <div class="overlay-text" *ngIf="revealed3">
      <p>Voici le texte révélé après le clic !<br/></p>
    </div>
  </div>
  <mat-card-content>
    <p>Cliquez sur la carte pour révéler le texte.</p>
  </mat-card-content>
</mat-card>

<mat-card class="image-card" (click)="toggleReveal4()">
  <div class="image-container">
    <img mat-card-image src="assets/images/no_virus.jpg" alt="Image" class="card-image" />
    <div class="overlay-text" *ngIf="revealed4">
      <p>Voici le texte révélé après le clic !<br/></p>
    </div>
  </div>
  <mat-card-content>
    <p>Cliquez sur la carte pour révéler le texte.</p>
  </mat-card-content>
</mat-card>
-->

<mat-card class="image-card" *ngFor="let card of cards"(click)="toggleReveal(card.id)">
  <div class="image-container">
    <img mat-card-image [src]="card.imageUrl" class="card-image" />
    <div class="overlay-text" *ngIf="revealed[card.id]">
      <p>{{card.content}}<br/></p>
    </div>
  </div>
  <mat-card-content>
    <p>{{card.title}}</p>
  </mat-card-content>
</mat-card>