/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

html, body {
  margin: 0;
  padding: 0;
}


.content {
  margin-top: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  background-color: #d8fbc4;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 0.5rem;
  //display :flex;
  //align-items: center;
  width: 35%;
}

@media (max-width: 1280px) {
  section {
    width: 50%; /* Pleine largeur sur petit écran */
  }
}

@media (max-width: 768px) {
  section {
    width: 100%; /* Pleine largeur sur petit écran */
  }
}

.section-card {
  margin: 5px 0;
      //background-color: #d8fbc4;
}

footer {
  background-color: #0f7531;
  color: white;
  text-align: center;
  padding: 20px;
  //position: fixed;
  bottom: 0;
  width: 100%;
}



