.legal-dialog .mat-dialog-content{
  h2 {
    font-weight: bold;
    color: #2E7D32;
  }

  mat-dialog-content {
    max-height: 60vh;
    overflow-y: auto;
  }

    background-color: #2E7D32;
    color:#2E7D32;

}

p {
  font-size: small;
  text-align: justify;
}
