
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vertuo4dPro-primary: mat.define-palette(mat.$indigo-palette);
$vertuo4dPro-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vertuo4dPro-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vertuo4dPro-theme: mat.define-light-theme((
  color: (
    primary: $vertuo4dPro-primary,
    accent: $vertuo4dPro-accent,
    warn: $vertuo4dPro-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vertuo4dPro-theme);

/* You can add global styles to this file, and also import other style files */

/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Caveat:wght@700&family=Mrs+Sheppards&family=Nabla&family=Pacifico&family=Permanent+Marker&family=Rubik+Wet+Paint&family=Science+Gothic:wght@100..900&family=Yellowtail&display=swap');

html, body { height: 100%; font-family: 'Science Gothic', "Helvetica Neue", sans-serif; }
body, span { font-family: 'Science Gothic', "Helvetica Neue", sans-serif; }



.custom-dialog-container .mat-dialog-container {
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
}
 
